.DS_Store
node_modules*
.svelte-kit
.vscode

/build
/dist
/static
/doc/api

# ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# don't touch config files
package.json
tsconfig.json

# examples folders have their own projects
/examples/**/build
/examples/**/dist
/examples/**/node_modules
/examples/**/.svelte-kit
/examples/**/.cache
/examples/**/.vscode
